.ui-multiselect { margin: 0px 0px 1px 1px; padding: 0px 1 0px 0px; text-align:left; width:99.2%; overflow-x:hidden; height: 2.7em;  
background-color:  #e5e6e8; border-color: 0px #707070;
background:  #e5e6e8 ;
background: -webkit-gradient(linear, left top, left bottom, from(#ffffff ), to(#e5e6e8));
background: -moz-linear-gradient(top,  #ffffff ,  #e5e6e8);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#e5e6e8);
text-overflow:clip;white-space:nowrap; padding-left: 8px;
}
.ui-multiselect span.ui-icon { float:right }
.ui-multiselect-single .ui-multiselect-checkboxes input { position:absolute !important; top: auto !important; left:-9999px; }
.ui-multiselect-single .ui-multiselect-checkboxes label { padding: 0 0 0 2px !important; overflow: hidden;}

.ui-multiselect-header {height: 1.9em; margin-bottom: -10px; padding: 3px 0 0 4px; }
.ui-multiselect-header ul { font-size:0.8em; overflow: hidden;}
.ui-multiselect-header ul li { float:left; padding:0 10px 0 0;margin-top: 2px; }
.ui-multiselect-header a { text-decoration:none }
.ui-multiselect-header a:hover { text-decoration:underline }
.ui-multiselect-header span.ui-icon { float:left }
.ui-multiselect-header li.ui-multiselect-close { float:right; text-align:right; padding-right:0 }

.ui-multiselect-menu { display:none; padding:3px; position:absolute; z-index:10000; text-align: left }
.ui-multiselect-checkboxes { position:relative /* fixes bug in IE6/7 */; overflow:hidden; -webkit-overflow-scrolling: touch; padding-bottom: 8px;}
.ui-multiselect-checkboxes label { cursor:default; display:block;  padding: 0 5px 17px 24px; }
.ui-multiselect-checkboxes label input {position: relative;top: 3px;width: 5%; margin-right: -13px;}
.ui-multiselect-checkboxes li { clear:both; font-size:1.3em; padding-right:3px; outline:none; }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label { text-align:center; font-weight:bold; border-bottom:1px solid }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a { display:block; padding:3px; margin:1px 0; text-decoration:none; outline:none;}

/* remove label borders in IE6 because IE6 does not support transparency */
* html .ui-multiselect-checkboxes label { border:none }

/* Additional Styling */
.ui-multiselect-menu input[type=checkbox]{
    position:absolute;
  left:-9999px;
}
.ui-multiselect-menu ul, ol { margin: 0 0; padding: 0 0 12px 0; }
.ui-multiselect-menu  a:hover { color: #a2a2a2; }
.ui-multiselect-menu a {
   outline: 0;
}
.ui-multiselect a {
   outline: 0;
}
/* Added for scrolling */
#multiScrolling {clear: both;  margin: 0 -2px;}
#multiScrolling .viewport {overflow: hidden; position: relative;}
#multiScrolling .viewport .overview {list-style: none; position: absolute; left: 0; top: -11px;  width : 100%;}
#multiScrolling .thumb .end,
#multiScrolling .thumb { background-color: #003D5D; }
#multiScrolling .scrollbar { position: relative;  float: right; width: 15px; padding-top: 10px;}
#multiScrolling .track {width:13px; position: absolute;height:100%;}
#multiScrolling .thumb { background: transparent url(../img/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 13px; cursor: pointer; position: absolute; top: 0; overflow: hidden;}
#multiScrolling .thumb .end { background: transparent url(../img/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 13px; }
#multiScrolling .disable{ display: none; }

#singleScrolling {clear: both;  margin: 0 -2px; }
#singleScrolling .viewport {overflow: hidden; position: relative;}
#singleScrolling .viewport .overview {list-style: none; position: absolute; left: 0; top: -11px;  width : 100%;}
#singleScrolling .thumb .end,
#singleScrolling .thumb { background-color: #003D5D; }
#singleScrolling .scrollbar { position: relative;  float: right; width: 15px;}
#singleScrolling .track {width:13px; position: absolute;height:100%;}
#singleScrolling .thumb { background: transparent url(../img/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 13px; cursor: pointer; position: absolute; top: 0; overflow: hidden;}
#singleScrolling .thumb .end { background: transparent url(../img/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 13px; }
#singleScrolling .disable{ display: none; }

