@media handheld, only screen and (max-device-width: 480px) {

/** style for both LoginView and SurveyView **/


#off-record-button{ 
	margin-left:2px!important;
}	
			
.eg-chat-login,.eg-chat-survey {

.submit-wrap{
	float : right;
	margin-right:10px;
	bottom: 10px;
	margin-top: 2px;
	}  	
	.submit-section {
		.footer {
			left: 20px;
		}
	}
	
    .form-fields {
	
        
         input[type=text], textarea {
        
          font-size:14px;
	 }
    
   }
        
   input[type=text], textarea {
			font-size:16px;

	 }
}

.eg-chat-editor {

	input[type=text], textarea {
			font-size:16px;			
    }
    
	
  }
 
 .eg-chat-deflection{
	.deflection-option{
		#startChat{
            padding : 10px 27px 10px 28px;
		}
	}
 }

}

@media screen and (orientation : portrait) and (device-aspect-ratio: 40/71){

.eg-chat-login{
	.form-fields{
		padding-bottom: 10px !important;
		padding-top: 18px;
		outline:0;
		.input-wrap{
			margin-bottom: 10px;
			.input-wrap-sub{
				padding: 5px;
				textarea{
					height:40px;
				}
			}
		}
	.submit-section {
		.footer {
			left: 20px;
		}
	}
	}
	
}


.eg-chat-survey{
	.form-fields{
		font-size:11px;
		padding-bottom: 5px;
		.input-wrap-sub{
			margin-bottom: 5px;
			textarea{				
				height:45px;
			}
		}
		.submit-section {
		.footer {
			left: 20px;
		}
	}
	}
}

.eg-chat-deflection{
	.deflection-option{
		#startChat{
            padding : 10px 27px 10px 28px;
		}
	}
 }

}

@media screen and (orientation : portrait) and(device-aspect-ratio: 2/3)
{
.eg-chat-login{
	.form-fields{
		padding-bottom: 10px !important;
		padding-top: 18px;
		.input-wrap{
			margin-bottom: 10px;
			.input-wrap-sub{
				padding: 5px;
				textarea{
					height:40px;
				}
			}
		}
		.submit-section {
		.footer {
			left: 20px;
		}
	}
	}
}

.eg-chat-survey{
	.form-fields{
		font-size:11px;
		padding-bottom: 5px;
		.input-wrap-sub{
			margin-bottom: 5px;
			textarea{				
				height:45px;
			}
		}
		.submit-section {
		.footer {
			left: 20px;
		}
	}
	}
}

.eg-chat-deflection{
	.deflection-option{
		#startChat{
            padding : 10px 27px 10px 28px;
		}
	}
 }
}


	
